@import "tailwindcss";
@config "../../tailwind.config.mjs";

@font-face {
  font-family: "Gramatika";
  src: url("/fonts/Gramatika-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gramatika";
  src: url("/fonts/Gramatika-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Gramatika";
}